<h3>Node <%= @node.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= link_to "Node #{@node.id}", :id => @node.id, :action => :show, :controller => 'nodes' %>
    </td>
  </tr>
  <tr class="row">
    <td>Name</td>
    <td><%= @node.name %>
    </td>
  </tr>
  <tr class="row">
    <td>Address</td>
    <td><%= @node.address %>
    </td>
  </tr>
  <tr class="row">
    <td>OS name</td>
    <td><%= @node.os_name %>
    </td>
  </tr>
  <tr class="row">
    <td>OS version</td>
    <td><%= @node.os_version %>
    </td>
  </tr>
  <tr class="row">
    <td>Architecture</td>
    <td><%= @node.arch %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @node.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @node.updated_at %>
    </td>
  </tr>
</table>
