<h3>Task <%= @task.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= @task.id %>
    </td>
  </tr>
  <tr class="row">
    <td>Status</td>
    <td><%= @task.status %>
    </td>
  </tr>
  <tr class="row">
    <td>Artifact</td>
    <td><%= @task.artifact %> 
    </td>
  </tr>
  <tr class="row">
    <td>Artifact id</td>
    <td><%= @task.artifact_id %>
    </td>
  </tr>
  <tr class="row">
    <td>Action</td>
    <td><%= @task.action %>
    </td>
  </tr>
  <tr class="row">
    <td>Action parameters</td>
    <td><%= Base64.decode64(@task.params) unless @task.params.nil? %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @task.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @task.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @task.updated_at %>
    </td>
  </tr>
</table>

<% unless is_task_status?( :aborted ) or is_task_status?( :completed ) %>
    <h4>Available actions</h4>
    <ul>

      <li><%= link_to "Abort", :action => :abort, :controller => :tasks, :id => @task.id %></li>

    </ul>
<% end %>
