<h3>Task <%= @task.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= @task.id %>
    </td>
  </tr>
  <tr class="row">
    <td>Image ID</td>
    <td><%= link_to @task.image_id, :controller => "images", :action => :show, :id => @task.image_id %>
    </td>
  </tr>
  <tr class="row">
    <td>Status</td>
    <td><%= @task.status %>
    </td>
  </tr>
  <tr class="row">
    <td>Action</td>
    <td><%= @task.action %>
    </td>
  </tr>
  <tr class="row">
    <td>Action parameters</td>
    <td><%= @task.params %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @task.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @task.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @task.updated_at %>
    </td>
  </tr>
</table>
