<h3>Definition <%= @definition.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= @definition.id %>
    </td>
  </tr>
  <tr class="row">
    <td>Status</td>
    <td><%= @definition.status %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @definition.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @definition.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @definition.updated_at %>
    </td>
  </tr>
</table>

<h4>Available actions</h4>
<ul>
  <% if is_definition_status?( :created ) %>
      <li><%= link_to "Build", { :action => :create, :controller => 'images', :definition_id => @definition.id.to_s}, :method => :post %></li>
  <% end %>
  <li><%= link_to "Destroy", { :action => :destroy, :id => @definition.id }, :method => :delete, :confirm => "Are you sure?" %> </li>
</ul>
