<h3>Image <%= @image.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= link_to "Image #{@image.id}", :id => @image.id, :action => :show, :controller => 'images' %>
    </td>
  </tr>
  <tr class="row">
    <td>Status</td>
    <td><%= @image.status %>
    </td>
  </tr>
  <tr class="row">
    <td>Definition</td>
    <td><%= link_to "Definition #{@image.definition_id}", :id => @image.definition_id, :action => :show, :controller => 'definitions' %>
    </td>
  </tr>
  <tr class="row">
    <td>Format</td>
    <td><%= @image.image_format %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @image.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @image.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @image.updated_at %>
    </td>
  </tr>
</table>

<% unless is_image_in_progress? %>
    <h4>Available actions</h4>
    <ul>
      <% unless is_image_status?(:error) %>
          <% if is_image_status?(:built) %>

              <li><%= link_to "Build RAW image", { :action => :create, :controller => 'images', :definition_id => @image.definition.id, :image_format => Image::FORMATS[:raw] }, :method => :post %></li>
              <li><%= link_to "Build VMware image", { :action => :create, :controller => 'images', :definition_id => @image.definition.id, :image_format => Image::FORMATS[:vmware] }, :method => :post %></li>
              <li><%= link_to "Build EC2 image", { :action => :create, :controller => 'images', :definition_id => @image.definition.id, :image_format => Image::FORMATS[:ec2] }, :method => :post %></li>

              <li><%= link_to "Package to zip", { :controller => 'packages', :package_format => 'zip', :id => @image.id }, :method => :create %> </li>
              <li><%= link_to "Package to tgz", { :controller => 'packages', :package_format => 'tgz', :id => @image.id }, :method => :create %> </li>
          <% end %>
      <% end %>
      <% unless is_image_status?(:building) %>
          <li><%= link_to "Destroy", { :action => :destroy, :id => @image.id }, :method => :delete, :confirm => "Are you sure?" %> </li>
      <% end %>
    </ul>
<% end %>
