<h3>Image <%= @image.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= @image.id %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @image.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @image.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @image.updated_at %>
    </td>
  </tr>
</table>
