<h3>Image <%= @image.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= link_to "Image #{@image.id}", :id => @image.id, :action => :show, :controller => 'images' %>
    </td>
  </tr>
  <tr class="row">
    <td>Status</td>
    <td><%= @image.status %>
    </td>
  </tr>
  <tr class="row">
    <td>Appliance</td>
    <td><%= link_to @image.appliance.name, :id => @image.appliance_id, :action => :show, :controller => 'appliances' %>
    </td>
  </tr>
  <tr class="row">
    <td>Platform</td>
    <td><%= @image.platform.nil? ? "Base image" : @image.platform %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @image.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @image.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @image.updated_at %>
    </td>
  </tr>
</table>

<% unless is_image_in_progress? %>
    <h4>Available actions</h4>
    <ul>
      <% unless is_image_status?(:error) %>
          <% if is_image_status?(:built) %>
              <% BoxGrinder::RESTConfig.instance.plugins[:delivery].each do |delivery| %>
                  <li><%= link_to "Deliver using #{delivery}", {:action => :deliver, :controller => 'images', :id => @image.id, :platform => @image.platform, :type => delivery}, :method => :post %></li>
              <% end %>
          <% end %>
      <% end %>
      <% unless is_image_status?(:building) %>
          <li><%= link_to "Destroy", {:action => :destroy, :id => @image.id}, :method => :delete, :confirm => "Are you sure?" %> </li>
      <% end %>
    </ul>
<% end %>
