<h3>Image <%= @image.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= @image.id %>
    </td>
  </tr>
  <tr class="row">
    <td>Status</td>
    <td><%= @image.status %>
    </td>
  </tr>
  <tr class="row">
    <td>Definition</td>
    <td><%= link_to "Definition #{@image.definition_id}", :id => @image.definition_id, :action => :show, :controller => 'definitions' %>
    </td>
  </tr>
  <tr class="row">
    <td>Format</td>
    <td><%= @image.image_format %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @image.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @image.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @image.updated_at %>
    </td>
  </tr>
</table>

<% unless is_image_in_progress? %>
    <h4>Available actions</h4>
    <ul>

      <% unless is_image_status?(:error) %>

          <% if is_image_status?(:built) %>
              <li><%= link_to "Convert to VMware", { :action => :convert, :image_format => 'vmware'}, :method => :post %> </li>
              <li><%= link_to "Convert to EC2", :action => :convert, :image_type => 'ec2' %> </li>
              <!-- TODO: make it better! -->
              <li><%= link_to "Package to zip", { :controller => 'packages', :package_format => 'zip', :image_id => @image.id }, :method => :create %> </li>
              <li><%= link_to "Package tar", { :controller => 'packages',  :package_format => 'tar', :image_id => @image.id  }, :method => :create %> </li>
              <li><%= link_to "Package tgz", { :controller => 'packages', :package_format => 'tgz', :image_id => @image.id  }, :method => :create %> </li>
          <% end %>
      <% end %>
      <li><%= link_to "Destroy", { :action => :destroy, :id => @image.id }, :method => :delete, :confirm => "Are you sure?" %> </li>
    </ul>
<% end %>
