<h3>Image <%= @image.id %></h3>

<table cellspacing="1" cellpadding="5">
  <tr class="row">
    <td>ID</td>
    <td><%= @image.id %>
    </td>
  </tr>
  <tr class="row">
    <td>Status</td>
    <td><%= @image.status %>
    </td>
  </tr>
  <tr class="row">
    <td>Description</td>
    <td><%= @image.description %>
    </td>
  </tr>
  <tr class="row">
    <td>Created</td>
    <td><%= @image.created_at %>
    </td>
  </tr>
  <tr class="row">
    <td>Modified</td>
    <td><%= @image.updated_at %>
    </td>
  </tr>
</table>


<% unless is_packaged? %>
    <h4>Available actions</h4>
    <ul>
      <% unless is_built? %>
          <li><%= link_to "Build", :action => :build %></li>
      <% end %>

      <li><%= link_to "Package", :action => :package %> </li>
    </ul>
<% end %>